.site-layout-content {
	min-height: 75vh;
	padding: 50px;
	background: #fff;
}
.logo {
	margin: auto;
	text-align: left;
	min-height: 40px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.2px;
}
